.all{
    display: flex;
    flex-direction: column;
    margin: -8px;
    /* Add Padding at the end of the coddin process to get final look */
}
.header{
display: flex;
background-color: #1f2937;
align-items: center;
}
.logo{
  font-size: 24px; 
  color: #f9faf8; 
  font-weight: 700;
  flex-grow: 1;
}
li{
color: #e5e7eb;
font-size: 11px;
}
ul{
    list-style: none;
    display: flex;
    gap:10px;
    flex-grow: 1;
}
.hero{
    display: flex;
    background-color: #1f2937;
    align-items: center;
    gap: 20px;
    padding: 50px 0 50px 0;
}
.he-text{
    display: flex;
    flex-direction: column;
    flex: 1
}
.main-text{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    width: 500px;
}
.sub-text{
    font: 18px;
    color: #e5e7eb;
    width: 450px;
}
button{
    color: white;
    background-color: #3882f6;
    border: 1px solid #3882f6;
    border-radius: 10px;
    margin: 8px 2px;
    padding: 5px auto;
    width: 100px;
    height: 25px;
    font-weight:bold;
}
.image{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #72808a;
    flex: 1;
    height: 200px;
    border-radius: 10px;
}
.random{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.ri{
    border-radius: 20px;
    border: solid black;
}
img{
    border-radius: 90%;
    width: 100px;
}
.boxes{
    display: flex;

}
.box{
    margin: 20px;
}