.all{
    display: flex;
    flex-direction: column;
    margin: -8px;
    /* Add Padding at the end of the coddin process to get final look */
}
.header{
display: flex;
background-color: #1f2937;
align-items: center;
justify-content: center;
gap: 450px;
flex:1;
}
.logo{
  font-size: 24px; 
  color: #f9faf8; 
  font-weight: 700;
  display: flex;
  flex: none;
}
li{
color: #e5e7eb;
font-size: 11px;
display: flex;
flex: none;
}
ul{
    list-style: none;
    display: flex;
    gap:10px;
    flex-grow: 1;
}
.hero{
    display: flex;
    background-color: #1f2937;
    align-items: center;
    gap: 20px;
    padding: 50px 0 50px 0;
    justify-content: center;
    gap: 50px;
    flex:1;
}
.he-text{
    display: flex;
    flex-direction: column;
    flex: none;
}
.main-text{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    width: 500px;
}
.sub-text{
    font: 18px;
    color: #e5e7eb;
    width: 450px;
}
button{
    color: white;
    background-color: #3882f6;
    border: 1px solid #3882f6;
    border-radius: 10px;
    margin: 8px 2px;
    padding: 5px auto;
    width: 100px;
    height: 25px;
    font-weight:bold;
}
.image{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #72808a;
    flex: none;
    height: 200px;
    border-radius: 10px;
    padding: 5px 60px;
    color: white;
}
.random{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 300px;
    flex:1;
    padding-bottom: 50px;
    padding-top: 50px;
}
.rt{
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}
.ri{
    border-radius: 20px;
    border: solid #3882f6;
}
img{
    border-radius: 90%;
    width: 100px;
}
.boxes{
    display: flex;
    gap: 50px;
    justify-content: center;
    padding-top: 30px;
}
.box{
flex: 0 1 0;
}
.gray{
    display: flex;
    flex-direction: column;
    background: #e5e7eb;
    flex:1;
    padding: 30px 10px;
    justify-content: center;
    align-items: center;
}
.quote{
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    display: flex;
    flex: none;
    width: 800px;
}
.ref{
    font-size: 18px;
    font-weight: bold;
    display: flex;
    text-align: end;
    padding-left: 500px;
}
.call{
    display: flex;
    background-color: #3882f6;
    justify-content: space-around;
    align-items: center;
    flex: none;
    align-self: center;
    width: 750px;
    border-radius: 8px;
    padding: 30px 50px;
    margin: 80px 0px 50px
}
#second{
    border: 1px solid white;
}
.lc{
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: space-around;
}
.ca{
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex: none;
}
.ct{
    display: flex;
    flex: none;
}
.footer{
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: center;
    padding: 30px;
    
}